n8n/workflows/01-review-event-router.json
{
  "name": "Review AI - Event Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-review-events",
      "name": "Review Events Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "review-events"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "review.ai.retry_scheduled",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry_scheduled"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "review.ai.completed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "review.ai.failed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "review.ai.fallback_requested",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fallback_requested"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "review.ai.manual_generate",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manual_generate"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "review.bulk_process",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bulk_process"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-event",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.N8N_AI_GENERATION_WORKFLOW_ID }}",
          "mode": "id"
        },
        "mode": "once",
        "options": {}
      },
      "id": "run-ai-generation",
      "name": "Run AI Generation Router",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [760, 60]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(1, Math.ceil(($json.body.nextRetryAt - Date.now()) / 1000)) }}",
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait Until Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [760, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/n8n/review-ai/process-job",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $json.body.jobId }) }}"
      },
      "id": "process-job",
      "name": "Process Job in Convex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.flagged }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-flagged",
      "name": "If Flagged",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.N8N_ADMIN_NOTIFY_WORKFLOW_ID }}",
          "mode": "id"
        },
        "mode": "once",
        "options": {}
      },
      "id": "notify-flagged",
      "name": "Notify Admin Flagged",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1000, 280]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.N8N_ADMIN_NOTIFY_WORKFLOW_ID }}",
          "mode": "id"
        },
        "mode": "once",
        "options": {}
      },
      "id": "notify-failed",
      "name": "Notify Admin Failed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [760, 480]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.N8N_BULK_PROCESS_WORKFLOW_ID }}",
          "mode": "id"
        },
        "mode": "once",
        "options": {}
      },
      "id": "bulk-process",
      "name": "Run Bulk Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [760, 620]
    }
  ],
  "connections": {
    "Review Events Webhook": {
      "main": [[{ "node": "Route by Event", "type": "main", "index": 0 }]]
    },
    "Route by Event": {
      "main": [
        [{ "node": "Wait Until Retry", "type": "main", "index": 0 }],
        [{ "node": "If Flagged", "type": "main", "index": 0 }],
        [{ "node": "Notify Admin Failed", "type": "main", "index": 0 }],
        [{ "node": "Run AI Generation Router", "type": "main", "index": 0 }],
        [{ "node": "Run AI Generation Router", "type": "main", "index": 0 }],
        [{ "node": "Run Bulk Processor", "type": "main", "index": 0 }]
      ]
    },
    "Wait Until Retry": {
      "main": [[{ "node": "Process Job in Convex", "type": "main", "index": 0 }]]
    },
    "If Flagged": {
      "main": [[{ "node": "Notify Admin Flagged", "type": "main", "index": 0 }], []]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
