n8n/workflows/02-retry-safety-net-cron.json
{
  "name": "Review AI - Retry Safety Net",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "cron-15min",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONVEX_SITE_URL }}/n8n/review-ai/process-due?limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "process-due",
      "name": "Process Due Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CONVEX_SITE_URL }}/n8n/review-ai/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "queue-health",
      "name": "Check Queue Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 480]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.pending + $json.retryScheduled }}",
              "rightValue": 10,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-backlog",
      "name": "If Backlog High",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 480]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.N8N_ADMIN_NOTIFY_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "notify-backlog",
      "name": "Notify Backlog Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [960, 460]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          { "node": "Process Due Jobs", "type": "main", "index": 0 },
          { "node": "Check Queue Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Queue Health": {
      "main": [[{ "node": "If Backlog High", "type": "main", "index": 0 }]]
    },
    "If Backlog High": {
      "main": [[{ "node": "Notify Backlog Alert", "type": "main", "index": 0 }], []]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
