n8n/workflows/04-admin-notifications.json
{
  "name": "Review AI - Admin Notifications",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "execute-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst event = input.event || input.body?.event || 'review.ai.alert';\nconst reviewId = input.reviewId || input.body?.reviewId;\nconst error = input.error || input.body?.error;\nconst flagged = input.flagged || input.body?.flagged;\n\nlet subject = 'Review AI Alert';\nlet body = `Event: ${event}\\n`;\n\nif (reviewId) body += `Review ID: ${reviewId}\\n`;\nif (flagged) body += 'A review was flagged by AI moderation.\\n';\nif (error) body += `Error: ${error}\\n`;\nif (input.body?.nextRetryAt) {\n  body += `Next retry: ${new Date(input.body.nextRetryAt).toLocaleString()}\\n`;\n}\n\nif (event === 'review.ai.failed') subject = 'Review AI processing failed';\nif (flagged) subject = 'Review flagged for moderation';\nif (event === 'backlog') subject = 'Review AI queue backlog alert';\n\nreturn [{ json: { subject, body } }];"
      },
      "id": "format-notification",
      "name": "Format Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.EMAIL_FROM || 'noreply@example.com' }}",
        "toEmail": "={{ $vars.ADMIN_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Admin Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 300],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_SMTP",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Format Notification", "type": "main", "index": 0 }]]
    },
    "Format Notification": {
      "main": [[{ "node": "Send Admin Email", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
