n8n/workflows/10-recommendation-processor.json
{
  "name": "WF10 Recommendation Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/n8n/recommendations/due-jobs?limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-due-job",
      "name": "Fetch Due Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 120]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.first().json.jobs ?? [];\nif (!jobs.length) {\n  return [{\n    json: {\n      hasJob: false,\n      ok: true,\n      message: 'Queue is empty — Convex already processed pending jobs (normal). Use WF09 process-due for cron, or browse the shop and wait ~30s to queue a new profile_refresh job.',\n      processed: 0\n    }\n  }];\n}\nreturn [{ json: { hasJob: true, jobId: jobs[0]._id } }];"
      },
      "id": "pick-job-id",
      "name": "Pick Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasJob }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-job",
      "name": "If Has Job",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 120]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/n8n/recommendations/process-job",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $json.jobId }) }}",
        "options": {}
      },
      "id": "process-job",
      "name": "Process Recommendation Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 40]
    }
  ],
  "connections": {
    "Manual Test Trigger": {
      "main": [[{ "node": "Fetch Due Job", "type": "main", "index": 0 }]]
    },
    "Fetch Due Job": {
      "main": [[{ "node": "Pick Job ID", "type": "main", "index": 0 }]]
    },
    "Pick Job ID": {
      "main": [[{ "node": "If Has Job", "type": "main", "index": 0 }]]
    },
    "If Has Job": {
      "main": [
        [{ "node": "Process Recommendation Job", "type": "main", "index": 0 }],
        []
      ]
    },
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Process Recommendation Job", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Sub-workflow: process one recommendation job when parent passes { jobId }. Manual test shows a friendly message when the queue is empty. For production use WF09 process-due."
  }
}
